audacity/  
Kvantum/         
r2modman/
bckp        
libreoffice/     
r2modmanPlus-local/
bleachbit/  
mimeapps.list   
bluetuith/  
mupen64plus/    
razergenie/
retroarch/
neofetch/      
dconf/      
nvim/           
simple-update-notifier/
eog/        
nwg-look/       
systemd/
openrazer/      
torbrowser/
pavucontrol.ini 
GIMP/       
glib-2.0/   
Pinta/          
vlc/
go/         
pulse/           
qBittorrent/     
yay/
vesktop/
VSCodium/
